// SPDX-License-Identifier: GPL-2.0+

#include <dt-bindings/gpio/gpio.h>

/ {
	aliases {
		tlv0 = &{/i2c@2000000/i2c-mux@77/i2c@0/eeprom@57};
		serial0 = &uart0;
	};
};

&uart0 {
	status = "okay";
};
